.section-heading {
    @include media-breakpoint-up(md) {
        margin-bottom: 3rem;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 3.5rem;
    }
    margin-bottom: 2.5rem;
}